@model Onion.Web.Models.Employee.EmployeeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Employee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
            </div>
                <label asp-for="FirstName" class="control-label">Имя</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label">Отчество</label>
                <input asp-for="Patronymic" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkEmailAddress" class="control-label">Рабочая почта</label>
                <input asp-for="WorkEmailAddress" class="form-control" />
                <span asp-validation-for="WorkEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateEmailAddress" class="control-label">Личная почта</label>
                <input asp-for="PrivateEmailAddress" class="form-control" />
                <span asp-validation-for="PrivateEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhoneNumber" class="control-label">Рабочий номер телефона</label>
                <input asp-for="WorkPhoneNumber" class="form-control" />
                <span asp-validation-for="WorkPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrivatePhoneNumber" class="control-label">Личный номер телефона</label>
                <input asp-for="PrivatePhoneNumber" class="form-control" />
                <span asp-validation-for="PrivatePhoneNumber" class="text-danger"></span>
            </div>
            <div class="row d-flex justify-content-center mt-100">
                <div class="col-4">
                    <label asp-for="Roles">Роль</label>
                </div>
                <div class="col-8">
                    <select class="form-select form-control" data-mdb-filter="true" asp-for="RoleId">
                        @foreach(var item in @Model.Roles)
                        {
                            if (!item.Id.Equals(@Model.RoleId))
                            {
                                <option value="@item.Id">@item.RoleName</option>
                            }else{<option value="@item.Id" selected>@item.RoleName</option>}
                        }
                    </select>
                </div>
            </div>  
            <div class="row d-flex justify-content-center mt-100">
                <div class="col-4">
                    <label asp-for="Roles">Отдел</label>
                </div>
                <div class="col-8">
                    <select class="form-select form-control" data-mdb-filter="true" asp-for="DepartmentId">
                        <option value="@null">Без отдела</option>
                        @foreach(var item in @Model.Departments)
                        {
                            if (!item.Id.Equals(Model.DepartmentId))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }else{<option value="@item.Id" selected>@item.Name</option>}
                        }
                    </select>
                </div>
            </div>  
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary btn-block" />
            </div>
            <div class="form-group">
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-Id="@Model.Id">Удалить</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary btn-outline-primary" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}