<div class="text-center">

        <h2 class="display-5 mt-3 ">Список сотрудников</h2>
        <a class="btn btn-outline-success" style="float: right; margin-top:10px" asp-controller="Employee" asp-action="Create" method="get">Зарегистрировать</a>
        <div>
            <form asp-controller="Employee" asp-action="Index">
                <div class="form-inline form-group">
                    <span class="btn-group">
                        <input class="form-control mr-sm-2" type="text"
                               name="filterString"
                               value="@Model.FilterString"
                               placeholder="Найти"/>
                    <input class="btn btn-outline-success my-2 my-sm-0"
                            type="submit" style="margin-left:10px;" value="Поиск" />
                    </span>
                 </div>
             </form>
         </div>
        
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">N0</th>
                    <th scope="col">
                        <a class="m-1" 
                        asp-route-sortField="Name" 
                        asp-action="Index" 
                        asp-route-SortDirection="@Model.SortDirection"
                        asp-route-sortField="@Model.SortField"
                        asp-route-filterString="@Model.FilterString">Название</a>
                    </th>

                    <th scope="col">
                        <a class="m-1" asp-route-sortField="Department" 
                        asp-action="Index"                         
                        asp-route-SortDirection="@Model.SortDirection"
                        asp-route-sortField="@Model.SortField"
                        asp-route-filterString="@Model.FilterString">
                        Отдел</a>
                    </th>
                    <th scope="col">Контакты</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
             
            @foreach(var employee in Model.ListItems){
            <tr>
                <td>@employee.Id</td>
                <td>@employee.PersonalData.FullName</td>
                    <td>@if (@employee.DepartmentDTO != null)
                        {
                            @employee.DepartmentDTO.Name
                        }
                    </td>
                    <td style="width:200px">@employee.WorkEmailAddress
                    <br>@employee.WorkPhoneNumber<br/></td>
                <td>@employee.PersonalData.Role.RoleName</td>
                <td class="col-2 px-4">
                    <a class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" 
                            asp-action="Edit" asp-route-id="@employee.Id" asp-controller="Employee" method="get">
                        Изменить
                    </a>
                </td>
            </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                <partial name="_pageBar" Model="@Model" />
            </div>
        </div>
</div>