<div style="display: flex; justify-content: center;">
	<h1 class="h3 mb-3" style="text-align: center; margin-top:10px">Проекты</h1>
	<a class="btn btn-success" style="margin:10px 0px" asp-controller="Project" asp-action="Create">Добавить</a>	
</div>
<div class="text-center">

		<div class="form-inline" style="display:flex;justify-content: auto; margin-bottom:10px" >
			<div class="btn-group dropright">
				  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Сортировка
				  </button>
				  <div class="dropdown-menu">
					<a class="dropdown-item" asp-action="Index" asp-route-sortField="Name" 
							asp-route-startDate="@Model.StartDate"
							asp-route-endDate="@Model.EndDate"
							asp-route-SortDirection="@Model.SortDirection"
							asp-route-sortField="@Model.SortField"
							asp-route-filterString="@Model.FilterString"				
							asp-controller="Project">Название</a>
					<a class="dropdown-item" asp-action="Index" asp-route-sortField="Manager"
							asp-route-SortDirection="@Model.SortDirection"
							asp-route-sortField="@Model.SortField"
							asp-route-filterString="@Model.FilterString"				
							asp-controller="Project">Ответственный</a>
					<a class="dropdown-item" asp-action="Index" asp-route-sortField="Period" 
							asp-route-SortDirection="@Model.SortDirection"
							asp-route-sortField="@Model.SortField"
							asp-route-filterString="@Model.FilterString"				
							asp-controller="Project">Период</a>
					<a class="dropdown-item" asp-action="Index" asp-route-sortField="Status" 
							asp-route-SortDirection="@Model.SortDirection"
							asp-route-sortField="@Model.SortField"
							asp-route-filterString="@Model.FilterString"				
							asp-controller="Project">Статус</a>
					<a class="dropdown-item" asp-action="Index" asp-route-sortField="Cost" 
							asp-route-SortDirection="@Model.SortDirection"
							asp-route-sortField="@Model.SortField"
							asp-route-filterString="@Model.FilterString"				
							asp-controller="Project">Стоимость</a>
				</div>	
			</div>
			<form asp-controller="Project" asp-action="Index">
				<div class="form-inline">
					<div class="form-group">
							<input class="form-control mr-sm-2" type="text"
									name="filterString"
									value="@Model.FilterString"
									asp-route-startDate="@Model.StartDate"
									asp-route-endDate="@Model.EndDate"
									placeholder="Найти"/>
					</div>
					<div class="form-group">
							<span>Дата от: </span><input type="date" name="startDate" id="startDate" asp-route-endDate="@Model.EndDate" asp-route-filterString="@Model.FilterString" class="form-control" value="@Model.StartDate?.ToString("yyyy-MM-dd")"/>
							<span>Дата до: </span><input type="date" name="endDate" id="endDate" asp-route-startDate="@Model.StartDate" asp-route-filterString="@Model.FilterString" class="form-control" value="@Model.EndDate?.ToString("yyyy-MM-dd")"/>
					</div>
					<input class="btn btn-outline-success my-2 my-sm-0"
							type="submit" style="margin-left:10px;" value="Поиск" />
				</div>
			</form>
		</div>

	<div class="container p-0">
		<div class="row">
				@foreach(var project in Model.ListItems){
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">

						<div class="card-header px-4 pt-4">
							<div class="card-actions float-right">
								<div class="dropdown show">
									<a href="#" data-toggle="dropdown" data-display="static">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
									</a>

									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" asp-action="Edit" asp-route-id="@project.Id" asp-controller="Project">Изменить</a>z
										<a class="dropdown-item" asp-action="Delete" asp-route-id="@project.Id" asp-controller="Project">Удалить</a>
									</div>
								</div>
							</div>
							<h5 class="card-title mb-0">@project.Name</h5>
							<div class="badge bg-success my-2">@project.Status</div>
						</div>
						<div class="card-body px-4 pt-2">
							<p sstyle="width: 50ch;">@project.LineManager.FullName<br>@project.StartDate?.ToString("dd-MM-yyyy") - @project.EndDate?.ToString("dd-MM-yyyy")<br/></p>

							<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
							<img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
							<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item px-4 pb-4">
								@if (project.StartDate != null && project.EndDate != null &&DateTime.Now>=project.StartDate&&DateTime.Now<=project.EndDate)
								{
									<p class="mb-2 font-weight-bold">Progress <span class="float-right">@(Convert.ToInt16(100*(Convert.ToDouble((DateTime.Now - project.StartDate).Days.ToString())/(Convert.ToDouble((project.EndDate - project.StartDate).Days.ToString())))))%</span></p>
									<div class="progress progress-sm">
										<div class="progress-bar" role="progressbar" aria-valuenow="@(Convert.ToInt16(100*(Convert.ToDouble((DateTime.Now - project.StartDate).Days.ToString())/(Convert.ToDouble((project.EndDate - project.StartDate).Days.ToString())))))" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
									</div>
								</div>}
							</li>
						</ul>
					</div>
				</div>}
			</div>
		</div>
			<div class="row">
				<div class="col-12">
					<partial name="_pageBar" Model="@Model" />
				</div>
			</div>
	</div>