@model Onion.Web.Models.Department.DepartmentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Department">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"  style="overflow-y: scroll;height: 100px;resize: none;"></textarea>
            </div>
            <div class="row d-flex justify-content-center mt-100">
                <div class="col-4">
                    <label asp-for="HeadOfDepartment">Глава отдела</label>
                </div>
                <div class="col-8">
                    <select class="form-select form-control" data-mdb-filter="true" asp-for="HeadOfDepartmentId">
                        <option value="@null">Неназначать</option>
                        @foreach(var item in @Model.HeadOfDepartment)
                        {
                            if (!item.Id.Equals(Model.HeadOfDepartmentId))
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }else{<option value="@item.Id" selected>@item.FullName</option>}
                        }zz
                    </select>
                </div>
            </div>  
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary btn-outline-primary" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}